[user]
	name = Stephen Whitmore
	email = sww@eight45.net
[alias]
	di = diff
  p = push
  pf = push --follow-tags
  a = add
  cm = commit
  co = checkout
  br = branch
  f = fetch
  rom = rebase origin/master
  pom = push origin master
  pr = pull-request
  rh = reset HEAD
  cpop = reset --soft HEAD~1
  dic = diff --cached
  rc = rebase --continue
  cp = cherry-pick
  s = stash
  sp = stash pop
  serve = "!server(){ git daemon --verbose --export-all --base-path=. --reuseaddr $@; }; server"
  spush = "!git push origin && git push ssb"
[push]
	default = current
	followTags = true
[github]
	user = noffle
