[user]
	name = Stephen Whitmore
	email = stephen.whitmore@gmail.com
[alias]
	di = diff
  p = push
  co = checkout
  br = branch
  f = fetch
  rom = rebase origin/master
  pom = push origin master
  pr = pull-request
[push]
	default = current
